html {
  --color-primary: #463220;
  --color-primary-light: #66593c;
  --color-secondary: #eceadd;
  --background: #f7f8f5;
  --color-white: #ffffff;
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  font-family: sans-serif;
  margin: 0px;
  color: var(--color-primary-light);
  background: var(--background);
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--color-white);
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  martgin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.bg-1 {
  background: var(--color-primary);
}

.bg-2 {
  background: var(--color-primary-light);
}

.bg-3 {
  background: var(--color-secondary);
}

.bg-4 {
  background: var(--background);
}

.bg-5 {
  background: var(--color-white);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
}